body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
}

.top_head {
  display: flex;
  padding-top: 20px;
  background-color: #ffffff;
  height: 15%;
}

.head_logo {
  width: 25%;
  background-image: url(лого.png);
  background-repeat: no-repeat;
  background-position: top-left;
}

.navigation_contact {
  width: 55%;
  padding-top: 20px;
}

.navigation_contact .navigation a {
  text-decoration: none;
}

.navigation_order {
  width: 20%;
  padding-top: 20px;
}

.order_background {
  width: 45%;
  margin-left: 55%;
  text-align: center;
}

.order_background button {
  padding: 10px;
  background-color: #009bcb;
}

.order_background button a {
  font-weight: bolder;
  color: white;
}

.order_background button a:hover {
  color: green;
  text-decoration: none;
}

.navigation_order a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navigation ul {
  display: flex;
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.navigation li {
  margin: 0 5px;
}

.promo {
  background-color: #ffffff;
  text-align: center;
  color: rgb(3, 3, 3);
  display: flex;
}

.promo_text {
  width: 50%;
  margin: 0;
  text-align: left;
  font-weight: bold;
}

.promo_button button {
  border: 2px solid #009ccc;
  background-color: white;
  padding: 10px 20px;
}

.promo_button button a {
  font-weight: bolder;
  text-decoration: none;
}

.promo_button button a:hover {
  color: green;
}

.promo_picture {
  width: 50%;
  margin: 0;
}

.section_cool-3 {
  background-color: #f8f7f7;
}

.section_position_center {
  display: flex;
  margin-left: 190px;
  margin-right: 190px;
}

.col-3 {
  max-width: 25%;
  border: 1px solid #ffffff;
  padding-top: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.col-3_img {
  width: 60px;
  height: 60px;
}

.col-3 a {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.col-3 a:hover {
  color: #009bcb;
  text-decoration: none;
}

.col-3_a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.article_picture_row {
  background-color: #fcfdfd;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.diplom_picture {
  background-image: url(Diplom.png);
  width: 525px;
  height: 150px;
  background-repeat: no-repeat;
  transition: 1s;
  position: relative;
}

.spravki_picture {
  background-image: url(Spravki.png);
  width: 525px;
  height: 150px;
  background-repeat: no-repeat;
  transition: 1s;
  position: relative;
}

.svidetelstva_picture {
  background-image: url(Svidetelstva.png);
  width: 525px;
  height: 150px;
  background-repeat: no-repeat;
  transition: 1s;
  position: relative;
}

.attestatu_picture {
  background-image: url(Attestatu.png);
  width: 525px;
  height: 150px;
  background-repeat: no-repeat;
  transition: 1s;
  position: relative;
}

.diplom_picture:hover {
  transform: scale(1.1);
}

.spravki_picture:hover {
  transform: scale(1.1);
}

.svidetelstva_picture:hover {
  transform: scale(1.1);
}

.attestatu_picture:hover {
  transform: scale(1.1);
}

.diplom_picture a {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  position: absolute;
  top: 40%;
  left: 40%;
}

.diplom_picture a:hover {
  text-decoration: none;
  color: yellow;
}

.spravki_picture a {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  position: absolute;
  top: 40%;
  left: 40%;
}

.spravki_picture a:hover {
  text-decoration: none;
  color: yellow;
}

.svidetelstva_picture a {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  position: absolute;
  top: 40%;
  left: 30%;
}

.svidetelstva_picture a:hover {
  text-decoration: none;
  color: yellow;
}

.attestatu_picture a {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  position: absolute;
  top: 40%;
  left: 40%;
}

.attestatu_picture a:hover {
  text-decoration: none;
  color: yellow;
}

#slider {
  /*положение слайдера*/
  position: relative;
  text-align: center;
  top: 10px;
}

#slider {
  /*центровка слайдера*/
  margin: 0 auto;
}

#slides article {
  /*все изображения справа друг от доруга*/
  width: 20%;
  float: left;
}

.article button {
  background-color: #18a3dd;
}

.article button a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#slides .image {
  /*устанавливает общий размер блока с изображениями*/
  width: 500%;
}

#overflow {
  /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  overflow: hidden;
}

article img {
  /*размер изображений слайдера*/
  width: 60%;
}

#desktop:checked~#slider {
  /*размер всего слайдера*/
  max-width: 960px;
  /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(1),
#switch3:checked~#controls label:nth-child(2),
#switch4:checked~#controls label:nth-child(3),
#switch5:checked~#controls label:nth-child(4) {
  background: url('left.png') no-repeat;
  /*заливка фона картинкой без повторений*/
  float: left;
  margin: 0 0 0 -84px;
  /*сдвиг влево*/
  display: block;
  height: 68px;
  width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch4:checked~#controls label:nth-child(5),
#switch5:checked~#controls label:nth-child(1) {
  background: url('right.png') no-repeat;
  /*заливка фона картинкой без повторений*/
  float: right;
  margin: 0 -84px 0 0;
  /*сдвиг вправо*/
  display: block;
  height: 68px;
  width: 68px;
}

label,
a {
  /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

.all input {
  /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked~#slides .image {
  margin-left: 0;
}

#switch2:checked~#slides .image {
  margin-left: -100%;
}

#switch3:checked~#slides .image {
  margin-left: -200%;
}

#switch4:checked~#slides .image {
  margin-left: -300%;
}

#switch5:checked~#slides .image {
  margin-left: -400%;
}

#controls {
  /*положение блока всех управляющих элементов*/
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  /*стиль отдельного переключателя*/
  border-radius: 10px;
  /*скругление углов*/
  display: inline-block;
  /*расположение в строку*/
  width: 15px;
  height: 15px;
  background: #bbb;
}

#active {
  /*расположение блока с переключателями*/
  margin: 23% 0 0;
  text-align: center;
}

#active label:hover {
  /*поведение чекбокса при наведении*/
  background: #76c8ff;
  border-color: #777 !important;
  /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4),
#switch5:checked~#active label:nth-child(5) {
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slides .image {
  /*анимация пролистывания изображений*/
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover {
  /*прозрачность стрелок при наведении*/
  opacity: 0.6;
}

#controls label {
  /*прозрачность стрелок при отводе курсора*/
  transition: opacity 0.2s ease-out;
}

.text_document h3 {
  text-align: center;
  color: #00afe5;
}

footer {
  background-color: #e6e7e8;
}

.navigation a:hover {
  color: #71cbe7;
}

.section_conteiner_center button:hover {
  background-color: tomato;
}

@media screen and (min-width: 1600px) {
  .promo {
    width: 600px;
    flex-direction: column;
  }

  .promo_text {
    width: 100%;
    text-align: center;
  }

  .promo_button {
    margin-left: 30%;
  }

  .section_cool-3 {
    width: 600px;
  }

  .col-3 {
    width: 100%;
  }

  .article_picture_top {
    flex-direction: column;
  }

  .article_picture_top>div {
    margin: 10px;
    margin-left: 30px;
    width: 600px;
  }

  .top_head {
    flex-direction: column;
    width: 600px;
  }

  .section_conteiner {
    width: 600px;
  }

  .col-2 {
    width: 10%;
  }

  .section_conteiner_center {
    width: 80%;
  }

  .text_document {
    width: 600px;
    text-align: center;
  }

  footer {
    width: 600px;
    text-align: center;
  }

  .navigation_order {
    width: 600px;
    text-align: center;
  }

  .navigation_contact {
    width: 100%;
    justify-content: center;
  }

  .head_logo {
    width: 600px;
    padding-left: 40%;
  }
}